@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.App {
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-8392.jpg?t=st=1739639226~exp=1739642826~hmac=620cefef73205e1ccc24b0598e5a2bb7a866c6c673df498a9ed30050efa17684&w=1380");
    background-size: cover;
}

header {
    font-family: "Rubik", serif;
    background: rgb(186,159,209);
    background: linear-gradient(270deg, rgba(186,159,209,1) 8%, rgba(156,114,195,1) 29%, rgba(142,92,198,1) 54%, rgba(109,80,178,1) 77%);
}

.heading {
    font-family: "B612 Mono", serif;
}

.b612 {
    font-family: "B612 Mono", serif;
}

.lexend {
    font-family: "Lexend Deca", serif;
}

.mplus {
    font-family: "M PLUS Rounded 1c", serif;
}